.mainDiv{
    margin-left: 111px;
    margin-top: 95px;
    background-color: white;
    
}

.row {
    margin-right: calc(0 * var(--bs-gutter-x));

}

.msg-btn-cl{
    background-color:#e9ecef;
}

.ml-n1{
    margin-left: 10px;
}

.name-inp{
    border:none;
    background-color: white ;
    font-size: 23px;
    font-weight: 500;
}
.mt-n1 {
    margin-top:10px !important;
  }

  
article {
    position: relative;
    width: 95px;
    height: 48px;
    margin: 5px;
    float: left;
    border: 1px solid #50bcf2;

    border-radius: 100px;
  }
  
  article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
  }
  
  article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
  }
  
  input[type=checkbox]:checked ~ div {
    background-color: #50bcf2;
    white-space: inherit;
  }

  
  

ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
}
ul.ks-cboxtags li{
display: inline;
}
ul.ks-cboxtags li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.ks-cboxtags li label {
  padding: 0px 10px;
  cursor: pointer;
}





ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
position: absolute;
opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
border: 2px solid #e9a1ff;
}

ul {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}



.errorColor{
  color: red;
}