<!-- <div class="Main">
<header></header>
 <button class="title"><h3>Anchor Profile</h3></button>
<div class="row container-fluid ">
    <div class="col-3 col-lg-3">
        <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80"
            class="image--cover">
        
    </div>
    <div class=" col-lg-9">
   
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-3 statustables " >
            
                <table class="table text">
                  <tr><td>Anchor's Profile</td></tr>
                  <tr>
                    <td>XRG helth care</td>
                    
                  </tr>
                </table>
              </div>
      
              <div class="col-sm-3 statustables  hospitaldiv">
                 <table class="table text">
                  <tr><td>Location Teritory</td></tr>
                  <tr><td>Hyderabad</td></tr>
                
                </table>
              </div>
              <div class="col-sm-3 statustables ">
                
                <table class="table text">
                  <tr>
                    <td> Personel Info</td>
                  </tr>
                  <tr>
                    <td>Prashanth</td>
                  </tr>
                  
                </table>
               
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-3 statustables " >
            
                <table class="table text">
                  <tr><td>Employee Details</td></tr>
                  <tr>
                    <td>3</td>
                   
                  </tr>
                </table>
              </div>
      
              <div class="col-sm-3   statustables hospitaldiv">
                 <table class="table text">
                  <tr><td>Investment Details</td></tr>
                  <tr><td>1000000</td></tr>
                
                </table>
              </div>
              <div class="col-sm-3  statustables">
                
                <table class="table text">
                  <tr>
                    <td>Revenue</td>
                  </tr>
                  <tr>
                    <td>30000</td>
                  </tr>
                  
                </table>
               
              </div>
            </div>
          </div>
          <div class="container text">
            <div class="row justify-content-center">
              <div class="col-sm-3 statustables" >
            
                <table class="table text">
                  <tr><td>Agreement</td></tr>
                  <tr>
                    <td>08-09-2022</td>
                    
                  </tr>
                </table>
              </div>
      
             
            </div>
          </div>
        
    </div>
   
  </div>
</div> -->