<div class="bodycontent">
    <cometchat-groups-with-messages [isMobileView]="false">
    
    </cometchat-groups-with-messages>
    <!-- <cometchat-conversations-with-messages  [isMobileView]=false></cometchat-conversations-with-messages> -->
    <!-- <cometchat-conversations [title]="'Chats'" [deleteConversationDialogStyle]="confirmDialogStyle"
        [backdropStyle]="backdropStyle" [badgeStyle]="badgeStyle" [dateStyle]="dateStyle"
        [conversationsStyle]="conversationsStyle" [listItemStyle]="listItemStyle" [avatarStyle]="avatarStyle"
        [receiptStyle]="receiptStyle" [conversationsRequestBuilder]="conversationsRequestBuilder"></cometchat-conversations> -->
</div>