.mainDiv{
    margin-top: 110px;
    margin-left: 111px;
    /* background-color: white  !important; */
     height: 100% !important;
     overflow-x:auto;
}

body{
    background-color: #ffffff !important;
}

.clrorg{
    color:#f79122;
}

.clrprp{
    color: purple;
}

.row{
    margin-right: calc(-.0 * var(--bs-gutter-x));
}
table{
    overflow-x:auto;
}
  