.tableheadsss{
    background-color:  #914573;/* Purple with 100% opacity  second screen css*/
    color: white;
    font-weight: bold;
  }
  h2 {
    color: #914573;
  }
  .btn-modalpopup{
    background-color: #914573;
    color: white;
  }
 