.main{
    margin-left: 130px;
    margin-top: 100px;
    margin-right: 20px;
    /* overflow-x: hidden; */
}

.panel-title {
    font: 700 20px/24px 'Lato';
    letter-spacing: 0;
    padding: 0;
}

.CustomerID{
    color: #914573;
}

.textcolor{
    color: #914573;

}

.finalDetailsCarsMrg{
   margin-top: 37px;
}

table{
    overflow-x:auto !important;
}
thead{
    background-color: #F79122;
    color: #914572;
}